:root {
  --colour1: #001427;
  --colour2: #23875c;
  --colour3: #d2a94b;
  --colour4: #bf0603;
  --colour5: #8d0801;
  --cell-size: 4vw;
  --sudoku-border-colour: rgb(109, 108, 108);
  --sudoku-border-size: 6px
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--colour3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header {
  font-size: 6vh;
  height: 12vh;
  width: 100%;
  /*height: 10vh;*/
  background-color: var(--colour5);
  display: flex;
  justify-content: space-between;
}

.header > div {
  width: 50%;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

#right {
  font-size: 4vh;
  text-align: right;
  display: block;
  height: 12vh;
  display: flex;
  justify-content: right;
}

#right > a {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 3vh 1vh 0 1vh;
  margin: 0;
  display: block;
  /* height: 10vh; */
  text-decoration: none;
  color: var(--colour2);
  transition: background-color 150ms ease-in-out;
}

#right > a:link {
  background-color: rgba(255, 255, 255, 0);
}

#right > a:hover {
  background-color: rgba(0,0,0,0.1);
}

#left {
  padding: 2vh 0 2vh 0.5em;
}

.loginsignup {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.popup {
  margin: 20vh;
  z-index: 50;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  overflow: hidden;
  width: 50vw;
  box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.3);
}

.form-div {
  z-index: 100;
  width: 45%;
  background-color: rgb(79, 79, 79);
  height: 100%;
  transition: all 200ms ease-out;
}

.form-div > form {
  font-size: 4vh;
  width: 100%;
  padding: 1em 0 0 0;
  text-align: left;
  transition: opacity 200ms 200ms linear;
}

form > label {
  text-align: left;
  font-size: 3vh;
}

form > input {
  border: 0;
  font-size: 2vh;
  padding: 5px;
  width: 15em;
  border-radius: 5px;
}

#password-log {
  width: 13em;
  border-radius: 5px 0 0 5px;
}

.eye {
  background-color:#160505;
  width: 2em;
  border-radius: 0 5px 5px 0;
  font-size: 2vh;
  padding: 5px;
}

form > a {
  font-size: 2vh;
  text-decoration: none;
  color: var(--colour2);
  cursor: pointer;
}

.grid-div {
  visibility: visible;
  flex: 3;
}

.body {
  height: 88vh;
  background-color: var(--colour1);
  display: flex;
  flex-direction: row;
}

.cell {
  z-index: 2;
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  color: black;
  caret-color: transparent;
  font-size: 1.75vw;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.cell:focus { 
  outline: none;
  /* box-shadow: 0 0 5px inset rgba(0, 0, 0, 0.5); */
}

table {
  margin: auto auto;
  white-space: nowrap;
  border: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
  margin: 0;
}

tr {
  padding: 0;
  margin: 0;
}

/* 9x9 box borders */

td:nth-child(3n){
  border-right: solid var(--sudoku-border-size) var(--sudoku-border-colour);
}

td:nth-child(3n+1) {
  border-left: solid var(--sudoku-border-size) var(--sudoku-border-colour);
}

tr:nth-child(3n){
  border-bottom: solid var(--sudoku-border-size) var(--sudoku-border-colour);
}

tr:nth-child(3n+1){
  border-top: solid var(--sudoku-border-size) var(--sudoku-border-colour);
}

/* each cell border */

td {
  text-align: center;
  border: solid calc(var(--sudoku-border-size)/2 )var(--sudoku-border-colour);
}

.numpad {
  flex: 2;
}

.num{
  border: none;
  padding: auto;
}

.numpadCont {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto auto;
  width: 60%;
  border-radius: 2rem;
  overflow: hidden;
  height: 50%;
}

.aCont {
  display: flex;
  align-items: center;
  justify-items: center;
}

.aCont > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 3vw;
  text-align: center;
}

.aCont:nth-child(n){
  border-right: black solid 2px;
}

.aCont:nth-child(n){
  border-bottom: black solid 2px;
}

.aCont:nth-child(3n){
  border-right: none;
}
.aCont:nth-child(9n), .aCont:nth-child(8n), .aCont:nth-child(7n){
  border-bottom: none;
}